{% extends 'layouts/master.html' %}

{% block title %}
SES | Student Create
{% endblock %}

{% block content %}
<div class="container">
    <a href="{% url 'student-index' %}" class="btn btn-primary btn-sm mt-3 mb-2">Back</a>
    <h1>Student Create Form</h1>
    <hr>
    <div class="card p-5">
        <form action="#" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}

            <input type="submit" value="Add Student" class="btn btn-sm btn-primary">
        </form>
    </div>
</div>
{% endblock %}