{% extends 'layouts/master.html' %}

{% block title %}
Student | UPDATE
{% endblock %}

{% block content %}
<div class="container">
    <a href="{% url 'student-index' %}" class="btn btn-primary btn-sm mt-3 mb-2">Back</a>
    <h1>Update the Student</h1>
    <hr>
    <div class="card p-5 mt-3">
        <form action="#" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" class="btn btn-sm btn-primary col-12" value="Update Course">
        </form>
    </div>
</div>
{% endblock %}